<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>

  <div style="background:#F9F9F9; max-width:900px; margin:0 auto; width:100%; padding:2em .5em;box-sizing:border-box;">
    <div style="text-align:center">
      <img src="cid:aulaslogo" width="100">
    </div>

    <div style="background:#fff; border-radius:15px; max-width:800px; width:100%; margin:2em auto;
    padding:2em; box-sizing:border-box; box-shadow:0 1px 7px rgba(0,0,0,.07);">
    <div style="font-size:22px; font-weight:600; color:#4B0082; margin-bottom:1em;">
      Dear {{username}},
    </div><br>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
     To reset your password <a href="{{link}}">click here</a> <br>
    <p>Use this link on a browser if above link is not working</p>
    <p>{{link}}</p>

    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      Best Regards,<br />
      Team aulas <br>
      <a href="https://aulas.in">https://aulas.in</a> <br>

    </div>
  </div>

    <img src="cid:bottom_border@2x" width="100%">

  <div style="text-align: center; margin-top:1em; ">
    <div style="color:#737373; font-size:13px; ">Made with ❤ in India</div>
  </div>
</div>

</body>
</html>